<ion-grid>
  <ion-row>
    <ion-col class="app-logo ion-text-center">
      <img src="/assets/icon/chef-hat.svg" alt=""><br>
     The Cooking Book
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row>
      <ion-col>
          <p *ngIf="operation=='register'" class="text-info" >Ya tienes cuenta? <a class="danger" (click)="operation='login'">Accede</a></p>
          <p  *ngIf="operation=='login'" class="text-info">No tienes cuenta? <a  class="danger"  (click)="operation='register'">Registrate</a></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Ingrese su correo" type="email" [(ngModel)]="email"  required ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Ingrese su contraseña" type="password" [(ngModel)]="password"  required></ion-input>
        </ion-item>
        <ion-item *ngIf="operation=='register'">
          <ion-input  placeholder="Ingrese nick" type="text" [(ngModel)]="nick" required></ion-input>
        </ion-item>
        
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col >
        <ion-button *ngIf="operation=='login'" expand="block" (click)="loginWithEmail()"> 
          <img src="/assets/icon/email-icon.svg" alt="icono de google" width="24" class="ion-margin-end" >  
          Acceder por Correo
        </ion-button>
        <ion-button  *ngIf="operation=='register'"  expand="block" (click)="register()"> 
            <img src="/assets/icon/email-icon.svg" alt="icono de google" width="24" class="ion-margin-end" >  
            Registrar
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col >
          <ion-button  expand="block" (click)="loginWithGoogle()"> 
            <img src="/assets/icon/google-icon.svg" alt="icono de google" width="24" class="ion-margin-end" >  
            Acceder por Google
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <ion-button  expand="block" (click)="loginWithTwitter()"> 
            <img src="/assets/icon/twitter-icon.svg" alt="icono de google" width="24" class="ion-margin-end" >  
            Acceder por Twitter
          </ion-button>
        </ion-col>
      </ion-row>
</ion-grid>
