ion-searchbar{
    --background: #f9f9f9
}

.imgRecepie{
    background: #fff;
    border-radius: 8px;
    border: 1px solid #d3e4e9;
    width: 90%;
}
.timeText{
    color: #999;
    font-size: 12px;
}
h5{
    margin-bottom: 1%;
}